button, .button {
    --background: var(--button-background-color);
    --text-color: var(--button-text-color);
    --border: var(--button-border-color);
    --loader: var(--button-loader);

    display: flex;
    align-items: center;
    gap: .5rem;

    height: 2.75rem;
    padding: 0 1rem;
    border: 1px solid var(--border);
    background-color: var(--background);
    border-radius: var(--border-radius);

    cursor: pointer;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

button svg, .button svg {
    --icon-color: var(--text-color);

    width: 1.5rem;
    height: 1.5rem;
    margin-left: -.25rem;
    flex-shrink: 0;
}

a.button {
    color: var(--text-color);
}

button.loading, .button.loading {
    padding-left: 3rem;
    background-image: var(--loader);
    background-repeat: no-repeat;
    background-position-x: .75rem;
    background-position-y: center;
    background-size: 1.5rem 1.5rem;
}

button.secondary, .button.secondary {
    --background: var(--background-color);
    --text-color: var(--button-border-color);
    --loader: var(--button-loader-primary);
}

button.alert, .button.alert {
    --background: var(--button-alert-color);
    --border: var(--button-alert-color);
}
