.dropdown {
    position: relative;
    cursor: pointer;

    & .button {
        text-transform: none;
        text-decoration: none;
        padding-right: 2.25rem;
        background-image: var(--white-expand-image);
        background-repeat: no-repeat;
        background-position: right .5rem center;
    }

    & ul.menu {
        display: none;
        visibility: hidden;

        width: max-content;
        max-width: 14rem;
        box-shadow: var(--box-shadow);
        background-color: var(--dropdown-menu-background);
        border-radius: var(--border-radius);
        border-top-left-radius: 0;

        & a {
            padding: .75rem 1rem;
            width: 100%;
            line-height: 1.5;
            color: var(--text-color);
            text-decoration: none;

            &:hover {
                background-color: var(--card-background-color);
            }
        }
    }

    &:focus-within .button, &:hover .button {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:focus-within .menu, &:hover .menu {
        visibility: visible;
        display: block;

        position: absolute;
        left: 0;
        top: 100%;
    }
}
