form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form:not(:last-child) {
    margin-bottom: 2rem;
}

fieldset {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

fieldset.vertical {
    flex-direction: column;
    gap: 1rem;
}

fieldset.actions {
    justify-content: flex-end;
}

fieldset button, fieldset .button {
    align-self: flex-end;
}

label {
    flex: 1;
    width: 14rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    cursor: pointer;
}

legend {
    margin-bottom: .5rem;
}

label, legend {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9rem;
}

label.checkbox, label.radio {
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    gap: .75rem;
    user-select: none;
}

input, select {
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;

    padding: .75rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    background-color: var(--background-color);
}

select {
    padding-right: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: var(--expand-image);
    background-repeat: no-repeat;
    background-position: right .5rem center;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-color: var(--border-color);
}
