body {
    min-height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: 'header header'
                         'sidebar main'
                         'footer footer';
}

body > header {
    color: var(--header-text-color);
    background-color: var(--header-background-color);
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--body-padding);
}

body > header ul {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0;
    list-style: none;
}

body > header ul:not(:last-child) {
    margin: 0;
}

body > header li {
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 1;
}

body > header svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    --icon-color: var(--header-text-color);
}

body > header svg.logo {
    width: 2rem;
    height: 2rem;
}

body > header h1 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

body > header a, header a:visited {
    color: var(--header-text-color)
}

nav {
    background-color: var(--nav-background-color);
    grid-area: sidebar;
    border-right: 1px solid var(--weak-border-color);
}

main {
    grid-area: main;
    min-width: 13rem;
}

section {
    padding: var(--body-padding);
}

section:not(:last-child) {
    border-bottom: 1px solid var(--weak-border-color);
}

footer {
    padding: var(--body-padding);
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--inverted-text-color);
    background-color: var(--inverted-background-color);
    background-image: var(--inverted-ic-logo);
    background-repeat: no-repeat;
    background-position: right var(--body-padding) center;
}

footer a, footer a:visited {
    color: var(--inverted-text-color);
}

footer ul {
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 'header'
                             'main'
                             'footer';
    }

    nav {
        grid-area: unset;
        position: absolute;
        width: var(--nav-width);
        top: var(--header-height);
        bottom: 0;
        left: calc(-1 * var(--nav-width));
        transition: .1s ease-in-out;
    }

    body > header .heading {
        display: none;
    }
}
