body {
    --header-height: 4rem;
    --nav-width: 20rem;

    min-height: 100vh;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 'header header'
                         'sidebar main';
}

header {
    color: var(--header-text-color);
    background-color: var(--header-background-color);
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header svg {
    width: 1.5rem;
    flex-shrink: 0;
    --icon-color: var(--header-text-color);
}

header svg.logo {
    width: 2rem;
}

header h1 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

header a, header a:visited {
    color: var(--header-text-color)
}

nav {
    background-color: var(--nav-background-color);
    grid-area: sidebar;
    border-right: 1px solid var(--border-color);
}

nav > * {
    height: 2.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

nav h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    align-items: flex-end;
    padding-bottom: .25rem;
}

nav a, nav a:visited {
    color: var(--weak-text-color);
    text-decoration: none;
}

nav svg {
    color: var(--weak-text-color);
    width: 1rem;
}

nav a:hover {
    background-color: var(--hover-color);
}

.menu-toggle {
    display: none;
}

main {
    grid-area: main;
}

@media screen and (max-width: 800px){
    body {
        grid-template-columns: 1fr;
    }

    nav {
        grid-area: unset;
        position: fixed;
        width: var(--nav-width);
        top: var(--header-height);
        bottom: 0;
        left: calc(-1 * var(--nav-width));
        transition: .1s ease-in-out;
    }

    header .heading {
        display: none;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        user-select: none;
    }

    .menu-toggle svg {
        width: 100%;
        height: 100%;
    }

    .menu-toggle svg.close {
        display: none;
    }

    .menu-open nav {
        left: 0;
    }

    .menu-open .menu-toggle svg.close {
        display: initial;
    }

    .menu-open .menu-toggle svg.open {
        display: none;
    }
}
