body {
    min-height: 100vh;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 'header header'
                         'sidebar main';
}

header {
    color: var(--header-text-color);
    background-color: var(--header-background-color);
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header > * {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header svg {
    width: 1.5rem;
    flex-shrink: 0;
    --icon-color: var(--header-text-color);
}

header svg.logo {
    width: 2rem;
}

header h1 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

header a, header a:visited {
    color: var(--header-text-color)
}

nav {
    background-color: var(--nav-background-color);
    grid-area: sidebar;
    border-right: 1px solid var(--border-color);
}

main {
    grid-area: main;
}

section {
    border-bottom: 1px solid var(--border-color);
    padding: 2rem;
    margin-bottom: 2rem;
}
