nav > * {
    height: 2.5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

nav h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    align-items: flex-end;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: .25rem;
}

nav a, nav a:visited {
    color: var(--weak-text-color);
    text-decoration: none;
}

nav svg {
    color: var(--weak-text-color);
    width: 1rem;
}

nav a:hover {
    background-color: var(--hover-color);
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 800px){
    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        user-select: none;
    }

    .menu-toggle svg {
        width: 100%;
        height: 100%;
    }

    .menu-toggle svg.close {
        display: none;
    }

    .menu-open nav {
        left: 0;
    }

    .menu-open .menu-toggle svg.close {
        display: initial;
    }

    .menu-open .menu-toggle svg.open {
        display: none;
    }
}
