dialog {
    --inner-padding: 2rem;
    border: none;
    padding: 0;
    border-radius: var(--border-radius);

    width: clamp(50vw, 40rem, calc(100vw - 2 * var(--body-padding)));

    & > article {
        padding: var(--inner-padding);
    }

    & > footer {
        padding: var(--inner-padding);
        border-top: 1px solid var(--weak-border-color);
        background-color: var(--card-background-color);
    }
}
