th, td {
    padding: .75rem 1.5rem;
    border-color: var(--weak-border-color);
    border-width: 1px;
    border-bottom-style: solid;
}

th {
    font-weight: 500;
    text-align: left;
}

thead th, thead td {
    border-width: 2px;
}

tfoot th, tfoot td {
    border-width: 2px;
    border-bottom-style: none;
    border-top-style: solid;
}
