:root {
    --white: #FFFFFF;
    --transparent-white: #FFFFFFDD;
    --lightest-gray: #FAFAFA;
    --light-gray: #EDEDED;
    --dark-gray: #4D4D4D;
    --darkest-gray: #454545;
    --black: #333333;
    --transparent-black: #333333DD;
    --primary: #196EC2;

    --text-color: var(--black);
    --weak-text-color: var(--dark-gray);
    --link-color: var(--primary);
    --icon-color: var(--black);
    --background-color: var(--white);
    --hover-color: var(--light-gray);

    --inverted-background-color: var(--dark-gray);
    --inverted-text-color: var(--white);

    --weak-border-color: var(--light-gray);
    --border-color: var(--dark-gray);
    --border-radius: .25rem;

    --nav-background-color: var(--lightest-gray);
    --header-background-color: var(--primary);
    --header-text-color: var(--white);

    --button-background-color: var(--primary);
    --button-border-color: var(--primary);
    --button-text-color: var(--white);

    --dropdown-menu-background: var(--white);
    --dropdown-menu-hover: var(--lightest-gray);
    --dropdown-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);

    --header-height: 5rem;
    --body-padding: 2rem;
    --footer-height: 16rem;
    --nav-width: 16rem;
    --inverted-ic-logo: url("../images/ic-logo-white.svg");
    --expand-image: url("../images/expand-black.svg");
    --white-expand-image: url("../images/expand-white.svg");
}

html {
    accent-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --weak-text-color: var(--light-gray);
        --link-color: var(--white);
        --icon-color: var(--white);
        --hover-color: var(--darkest-gray);

        --inverted-background-color: var(--light-gray);
        --inverted-text-color: var(--black);

        --weak-border-color: var(--darkest-gray);
        --border-color: var(--light-gray);
        --background-color: var(--black);
        --nav-background-color: var(--dark-gray);
        --button-border-color: var(--white);

        --dropdown-menu-background: var(--transparent-black);
        --dropdown-menu-hover: var(--black);

        --inverted-ic-logo: url("../images/ic-logo-black.svg");
        --expand-image: url("../images/expand-white.svg");
    }
}

@media screen and (max-width: 800px) {
    :root {
        --header-height: 4rem;
        --body-padding: 1rem;
    }
}
