[data-tooltip] {
    --caret-height: .5rem;

    color: var(--text-color);
    cursor: pointer;
    text-decoration: underline;
    position: relative;

    &:hover, &:focus-within {
        &:before {
            content: attr(data-tooltip);
            position: absolute;
            bottom: calc(100% + var(--caret-height));

            padding: .33rem .5rem;
            border-radius: var(--border-radius);
            background-color: var(--inverted-background-color);
            width: max-content;
            max-width: 15rem;

            color: var(--inverted-text-color);
            font-size: .8rem;
            line-height: 1.5;
        }


        &:after {
            content: '';
            position: absolute;
            bottom: calc(100% + 1px);
            left: 1rem;

            border-left: var(--caret-height) solid transparent;
            border-right: var(--caret-height) solid transparent;
            border-top: var(--caret-height) solid var(--inverted-background-color);
        }
    }
}
