html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text-color);
    background-color: var(--background-color);
}

*, :after, :before {
    box-sizing: border-box
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3 {
    font-weight: 600;
    margin-bottom: 1.5rem;

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

p, li {
    line-height: 1.5;
}

a, a:visited {
    color: var(--link-color);
}

p, ul, ol {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

ol, ul {
    padding-left: 2rem;
}

li {
    margin-bottom: .5rem;
}

ul {
    list-style: disc
}

ol {
    list-style: decimal;
}

pre, code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: .9rem;
    width: 100%;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--weak-border-color);
}

code {
    padding: .125rem .25rem;
    line-height: 1.5em;
}

pre {
    padding: .5rem;
    margin-bottom: 1rem;
    overflow: auto;

    border: 1px solid var(--weak-border-color);
    border-left-width: .5rem;

    & code {
        border: none;
        display: block;
    }
}


